.box{
    border: 1px solid black;
    height: 200px;
    width: 150px;
    background-image: linear-gradient(red,blue);
    background-image: linear-gradient(to right,red,blue);
    background-image: linear-gradient(to left,red,blue);
    background-image: linear-gradient(to bottom right,red,blue,yellow,green,purple,black,red,blue,transparent);
    margin: 50px;
}

.radial{
    height: 200px;
    width: 150px;
    margin: 50px;
    background-image: radial-gradient(red,blue,orange);
    background-image: radial-gradient(red 40%,blue 80%,orange 10%);
}

.flag{
    height: 200px;
    width: 150px;
    background-image: linear-gradient(to bottom,orange,white,green);

}