*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container{
    background-color: brown;
    height: 100vh;
    border: 3px solid black;
    display: grid;
    grid-template-columns: 2fr 8fr;
    grid-template-rows: 1fr 8fr 1fr;
    gap: 15px;

}

.header{
    background-color: aliceblue;
    grid-column-start: 1;
    grid-column-end: 3;
}

.tob{
    background-color: black;
}

.content{
    background-color: blue;
}

.footer{
    background-color: blanchedalmond;
    grid-column-start: 1;
    grid-column-end: 3;
}